$dark: #060606;
$dark10: rgba(6, 6, 6, 0.1);
$dark30: rgba(6, 6, 6, 0.3);
$dark50: rgba(6, 6, 6, 0.5);
$dark80: rgba(6, 6, 6, 0.8);
$dark95: rgba(6, 6, 6, 0.95);

$white: #D9D9D9;
$white5: rgba(217, 217, 217, 0.05);
$white10: rgba(217, 217, 217, 0.1);
$white20: rgba(217, 217, 217, 0.2);
$white30: rgba(217, 217, 217, 0.3);
$white50: rgba(217, 217, 217, 0.5);
$white70: rgba(217, 217, 217, 0.7);

$primary: #D6AE21;
$primary20: rgba(214, 174, 33, 0.2);
$primary30: rgba(214, 174, 33, 0.3);
$primary50: rgba(214, 174, 33, 0.5);
$error: #FF3333;


$Black: #212121;
$Coyote: #906f4a;
$Olive: #71755d;
$Tan: #856f50;
$Pink: #c340ac;